@{
    ViewData["Title"] = "fight";
}
<br />
@using (Html.BeginForm("Fight", "Home", FormMethod.Post))
{
    <table id="async" class="table" style="font-size:20px; padding-right:6px;">
       
    </table>
}
<br />
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
