@{
    ViewData["Title"] = "HeroesOfCSharp";
}

@if (!TempData.ContainsKey("Player"))
{
    @using (Html.BeginForm("AddPlayer", "Home", FormMethod.Post))
    {<h2>Login/Register</h2>
        <div class="form-group, body-content">
            <label class="sr-only" for="inputName"><b>Name:</b></label> <input class="form-control" id="inputName" type="text" name="Name" placeholder="Your Name" required /><br />
            <label class="sr-only" for="inputPass"><b>Name:</b></label> <input class="form-control" id="inputPass" type="password" name="Pass" placeholder="Your Pass" required /><br />
            <p>If it's your first time, a new hero will be created.</p>
            <button type="submit" class="btn btn-default" value="AddPlayer"> Submit</button>
        </div>
    }
}